{{>header}}
{{>nav}}
<form method="POST">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Amount</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="amount" name="amount" value="{{result.amount}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Date</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Date" name="date" value="{{result.date}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Location</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="location" name="location" value="{{result.location}}">
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Edit</button>
  </div>
</form>
{{>footer}}