{{>header}}
{{>nav}}
<div class="container-md">
<form method="POST">
    <div class="d-grid gap-2 col-6 mx-auto">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name">
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="password" name="pass">
</div>
<div class="d-grid gap-2 col-6 mx-auto col-auto">
    <button type="submit" class="btn btn-primary mb-3">Login</button>
  </div>
</form>

</div>
{{>footer}}