{{>header}}
{{>nav}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user.amount}}</th>
      <td>{{user.date}}</td>
      <td>{{user.location}}</td>
      
    </tr>
  </tbody>
</table>

{{>footer}}