{{>header.layout}}
{{>navbar.layout}}
{{#if errorStatus}}
<div class="container alert alert-danger my-3 ">
    <ul>
    {{#each errors}}
<li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}
<section class="container my-4">
    <form>
        <div class="mb-3">
            <input type="text" name="title" placeholder="task title" class="form-control" value="{{myData.title}}">
        </div>
        <div class="mb-3">
            <textarea placeholder="task content" name="content" class="form-control" >{{myData.content}}</textarea>
        </div>
        <div class="mb-3">
            {{#if myData.status}}
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="status" checked>
            
            {{else}}
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="status" >
            {{/if}}
            
            <label class="form-check-label" for="exampleCheck1">Task Status</label>
        </div>
        
        <div class="mb-3">
         <a href="/update"  ><button class="btn btn-success">edit Task</button></a> 
        </div>
    </form>
</section>
{{>footer.layout}}